@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-secondary;
    }
}


input::placeholder {
    color: #686868;
}

.nav-link.active {
    color: #a37d4c;
}

.not-found {
    background-image: url('/img/notfound.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.bg-room-details {
    background-image: url('/img/room.jpg');
}