@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Barlow';
}

input::placeholder {
    color: #0a0a0a;
}

.btn-sm {
    height: 48px;
}

.btn-lg {
    height: 60px;
}

.btn-primary {
    background-color: #0a0a0a;
}

.btn-secondary:hover {
    background-color: #967142;
}

.btn-secondary:hover {
    background-color: #967142;
}

.btn-white {
    background-color: white;
    color: #0a0a0a;
}

.nav-link.active {
    color: #a37d4c;
}

.not-found {
    background-image: url('/img/notfound.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.bg-room-details {
    background-image: url('/img/room.jpg');
}